body {
  background-image: url("https://67.media.tumblr.com/92a8a2dd3535c24c5ff5303fd528ed09/tumblr_njstj0XqhF1s03lrno1_500.gif");
}

h1, h4 {
  text-align: center;
  -webkit-text-stroke: 1px black;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  color: #F1C40F;
}


/*hi*/

td {
  border-width: medium;
  border-color: black;
  border-style: solid;
  height: 10%;
  width: 10%;
  background-color: #FAD7A0;
}

table {
  height: 450px;
  width: 450px;
  text-align: center;
  margin-left: 150px;
}

.box_img {
  background-image: url("http://www.iconsdb.com/icons/preview/red/bomb-xxl.png");
  background-size: contain;
}

.ship_img {
  background-image: url("http://www.freeiconspng.com/uploads/internet-keyword-targeting-seo-target-icon--22.png");
  background-size: contain;
}

.shipsBox {
  background-image: url("http://www.clipartbest.com/cliparts/yco/4X6/yco4X6kcE.png");
  background-size: contain;
}

footer {
  text-align: center;
  padding-top: 250px;
}
